// Color

.u-color {
    &-black {
        &-light {
            color: $color-black-light;
        }
    }
}

// Font family

.u-font {
    &-alt {
        font-family: $font-alt;
    }
}

// Padding

.u-padding {
    &-left {
        &-null {
            &-sm {
                @include atSmall {
                    padding-left: 0;
                }
            }
        }
    }
    &-horizontal {
        &-null {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

// Responsive

.u-responsive {
    &-img {
        width: 100%;
        height: auto;
    }
}

// Align

.u-align {
    &-inline {
        &-center {
            text-align: center;
        }
    }
}

// Breakers

.u-breaker {
    &-sm {
        @include atSmall {
            display: block;
        }
    }
}